.AdvformContainer {
  width: 100%;
  height: fit-content;
  min-height: calc(100vh - 15rem);
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}
.mypageNavContainer {
  width: 1008px;
  border: 1px solid #75757518;
  border-radius: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(194, 194, 194, 0.16),
    0px 0px 24px 0px rgba(170, 170, 170, 0.16);
}
.AdvformBox {
  width: 920px;
  margin: 3rem auto;
}
.AdvSelect {
  text-align: left;
  margin-bottom: 0.5rem;
}
.AdvSelect input {
  width: 25%;
}
.image_preview_container {
  width: 920px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #737373;
  border: 3px dashed #c8c8c8;
  background-color: #e9ecef;
  margin-bottom: 1.5rem;
}
