.craetecontainer {
  width: 1280px;
  height: fit-content;
  min-height: calc(100vh - 15rem);
  margin: 10px auto;
}

.topmenu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.topmenuBox {
  text-align: start;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700px;
  line-height: normal;
  display: flex;
}

.topmenuBox p {
  margin-bottom: 0;
}

.boardTitle {
  color: #034BB9;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 700;
}

.nickNameContainer {
  display: flex;
  margin-bottom: 1.5rem;
  width: 30%;
}

.nickNameContainer label {
  width: 20%;
  margin-bottom: 0;
  text-align: left;
  align-self: center;
  font-size: 0.9rem;
}

.nickNameContainer input::placeholder {
  font-size: 0.9rem;
  color: #c2c2c2;
}

.inputTitle {
  font-size: 1.5rem;
  border: none;
  margin-bottom: 1rem;
  width: 100%;
  border-bottom: 1px solid #c2c2c2;
}

.inputTitle::placeholder {
  font-size: 1.5rem;
  color: #c2c2c2;
}

.contentLimitcountContainer {
  display: flex;
  justify-content: flex-end;
  margin: 60px 0 0 0;
  padding: 0 20px 0 0;
}

.contentlimitMessage {
  color: red;
  margin: 0 20px;
  font-weight: 600;
}

.contentlimitCount {
  font-weight: 500;
}

.undermenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.grayoutbutton {
  border: 0;
  background-color: transparent;
  display: flex;
  color: rgba(117, 117, 117, 0.80);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.grayoutbutton:hover {
  color: #222;
}
