.craetecontainer {
  width: 1200px;
  margin: 10px auto;
}

.topmenu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.topmenuBox {
  text-align: start;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700px;
  line-height: normal;
  display: flex;
}

.boardTitle {
  color: #034BB9;
  margin-right: 10px;
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 700;
}

.nickNameContainer {
  display: flex;
  margin-bottom: 1.5rem;
  width: 30%;
}

.nickNameContainer label {
  width: 20%;
  margin-bottom: 0;
  text-align: left;
  align-self: center;
}

.nickNameContainer input::placeholder {
  font-size: 0.9rem;
}

.inputTitle {
  font-size: 1.5rem;
  border: none;
  margin-bottom: 1rem;
  width: 100%;
}

.inputTitle::placeholder {
  font-size: 1.5rem;
}

.ql-container .ql-snow .ql-editor p {
  font-size: 30px !important;
}

.undermenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.grayoutbutton {
  border: 0;
  background-color: transparent;
  display: flex;
  color: rgba(117, 117, 117, 0.80);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.grayoutbutton:hover {
  color: #222;
}

#createsubmitbutton:hover {
  background-color: rgba(208, 208, 208, 0.264);
  border: 1px solid black;
  position: relative;
}