.commentContainer {
  width: 100%;
}

.commentTopbar {
  margin: 5px 20px;

  display: flex;
  justify-content: space-between;
}

.commentTitle {
  color: #034BB9;
  font-size: 15px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}

.recommentGenLocalInfo {
  margin: 0 7px 0 0;
  /* border: 1px dotted red; */
}

.recommentnickName {
  width: 150px;
  /* border: 1px dotted red; */
}

.commentcreateTimeago {
  margin: 0 10px;
  color: #3e3e3e;
}

/* 수정하기, 삭제하기 아이콘 */
.commentIcons {
  margin: 10px 5px;
  cursor: pointer;
}

/* 수정하기 삭제하기 텍스트 위치 조정*/
.updatetextPosition {
  margin: 30px 0 0 0;
}

.commentContent {
  margin: 0 20px;
}

.recommentButton {
  cursor: pointer;
}

.commentBottombar {
  margin: 10px 40px 0 15px;

  display: flex;
  justify-content: space-between;
}

/* comment update 상태 스타일링 */
.updateinputContainer {
  width: 100%;
  margin: 0 auto;

  border: 0.1rem solid #D9D9D9;
  border-radius: 0.3rem;
}
.updateInput {
  margin: 10px 20px;

  width: 95%;
  height: 70px;
  border: 0;
}

.commentupdateBottombar {
  text-align: right;
}

.updateButtons {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin: 10px 15px 0 0;
}

.updateIcons {
  margin: 0 0 5px 0;
}

textarea::-webkit-scrollbar {
  width: 4px;  /* 스크롤바의 너비 */
}

textarea::-webkit-scrollbar-thumb {
  height: 40%; /* 스크롤바의 길이 */
  background: #d9d9d96a; /* 스크롤바의 색상 */
  
  border-radius: 10px;
}

textarea::-webkit-scrollbar-track {
  background: rgba(232, 232, 232, 0.1);  /*스크롤바 뒷 배경 색상*/
}

/* 대댓글 */
/* 대댓글 전체 container */
.recommentBoxContainer {
  margin: 20px 0 0 0;
}

.reCommentContainer {
  width: 90%;
  /* padding: 0 0 0 30px; */
  margin: 0 auto;

  display: flex;
  /* border: 1px dotted aqua; */
}

.recommentNicknameBox {
  width: 90%;
  margin: 0 auto;
  height: 35px;
  /* border: 1px dotted red; */
}

.recommentNickname {
  width: 50px;
  margin: 0 10px 0 0;
}

.recommentNicknameInput {
  border: 2px solid #D9D9D9;
  border-radius: 0.3rem;
}

.recommentEnter {
  width: 20px;
  height: 20px;
  margin: 10px;
  /* border: 1px red dotted; */

  font-size: 1.5rem;
  color: #9b9b9b;

}

.commentbox {
  position: relative;
  width: 100%;

  display: flex;
  border: 2px solid #D9D9D9;
  border-radius: 0.3rem;
  margin: 7px 0 13px 0;

  /* border: 1px dotted red; */
}

.commentInput {
  width: 90%;
  margin: 10px 0 10px 10px;
  height: 50px;
  font-size: 1rem;

  border: 0;
}

textarea:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.commentButton {
  position: absolute;
  right: 20px;
  top: 40%;
  
  border: 0;
  border-radius: 1rem;
  background-color: transparent;
}

pre {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
