spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://172.18.0.60:3306/ssafy_web_db?serverTimezone=Asia/Seoul
    username: root
    password: strange505
  data:
    redis:
      host: 172.18.0.70
      port: 6379
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_batch_fetch_size: 1000
        format_sql: true
    open-in-view: false

decorator:
  datasource:
    p6spy:
      enable-logging: false

logging:
  level:
    root: WARN


mail:
  base-url : "https://unofficial.kr/verify?verificationCode="

test: serve
