.card {
  width: 630px;
  height: 94%;
  display: flex;
  flex-direction: column;
  padding: 0.7rem 0.3rem 0 0.3rem;
  border-radius: 12px;
  /* border: 0.5px solid #e3e5e8; */
  box-shadow: 0 0 3px 0.5px #e3e5e8;
  background-color: #f3f6f9;
}
.title {
  display: flex;
  justify-content: center;
}
.title p {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.menu {
  width: 13rem;
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  border-radius: 10px;
}
.menu img {
  width: auto;
  height: 8.8rem;
  border-bottom: 0.2px solid #e8e8e8;
  background-color: #fff;
  border-radius: 16px 16px 0 0;
  transition: transform 0.2s ease-in-out;
}
.menu h2 {
  text-align: left;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 0 0.4rem;
}
.menu p {
  font-size: 0.7rem;
  margin: 0;
  text-align: left;
  padding: 0 0.4rem;
}
.textContainer {
  height: 5.8rem;
  padding: 0.2rem;
  padding-top: 0.4rem;
  background-color: #fff;
  border-radius: 0 0 16px 16px;
}
.detail {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 10em;
}
/* 반응형 스타일 */
/* @media (max-width: 768px) {
    .card {
        width: 330px
    }
}
@media (max-width: 480px) {
    .card {
        width: 270px
    }
} */
