.LunchCarousel {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  /* box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0,0,0,.04); */
}

.CarouselTopbox {
  position: absolute;
  width: 100%;

  border: 1px red dotted;
}