.boardpostContainer{
  width: 95%;
  height: 35px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(128, 128, 128, 0.315);
  border-width: 1px 0 0 0 ;
}

.postContainer {
  display: flex;
  margin: 8px 0 0 0;
}

.postTitle {
  cursor: pointer;
  margin: 0 12px 0 0;

  color: #000;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.postContent {
  cursor: pointer;
  margin: 0 12px 0 0;

  color: #757575;
  font-family: Inter;
  font-size: 11.224px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}