.searchboxall {
  position: relative;

  width:706px;
  margin: 0 auto;

  border: 1px red dotted;
}

.search {
  border: 2px solid black;
  border-radius: 1rem;
  margin: 7px 0 2px 0;
  width: 706px;
  height: 45px;

  font-size: 0.7rem;
}

.searchbutton {
  position: absolute;
  right: 20px;
  top: 25%;
  
  border: 0;
  border-radius: 1rem;
  background-color: transparent;
}