.bestpostwidgetContainer {
  width: 260px;
  height: 350px;

  border: 2px solid #75757593;
  border-radius: 1rem;
  margin: 0 0 10px 0;
}

.bestwidgetTopbar {
  display: flex;
  justify-content: space-between;

  /* border: 1px dotted red; */
}

.bestrefreshIcon {
  height: 25px;
  margin: 13px 12px 0 0;
  cursor: pointer;

  /* border: 1px dotted blue; */
}

/* 베스트 게시글 */
.bestTitle {
  text-align: start;

  font-size: 18px;
  font-weight: 600;
  margin: 15px 0 0 20px;
}

.bestIcons {
  margin: 0 0 6px 6px;
}

/* 베스트 게시물 제목들 */
.bestpostsContainer {
  width: 240px;
  height: 280px;
  margin: 10px auto;
  text-align: start;

  /* border: 1px dotted violet; */
}

.bestpostContents {
  cursor: pointer;
  height: 25px;
  width: 230px;

  /* bestpostContent 박스 길이 넘어가는 글자들 ... 처리*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  /* border: 1px dotted green; */
}

.bestboardTitles {
  margin: 0 10px 0 10px;

  color: #757575;
  font-family: Inter;
  font-size: 11.224px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bestcontentTitles {
  /* margin: 0 10px 0 10px; */

  color: #202020;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bestcontentTitles:hover {
  font-weight: 550;
}