.forgotPasswordPage {
  width: 400px;
  height: calc(100vh - 30.3rem);
  margin: 5rem auto;
}
.forgotPasswordPage h3 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 1rem;
}
.forgotPasswordPage p {
  text-align: center;
  font-size: 0.82rem;
  color: #676767;
  margin-bottom: 2rem;
}
.forgotPasswordPage label {
  width: 100%;
  text-align: left;
  font-size: 0.8rem;
  color: #676767;
  margin-bottom: 0.2rem;
}
.forgotPasswordPage input {
  background-color: #f9f9f9;
}
.selectContainer {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.selectContainer select {
  display: block;
  box-sizing: border-box;
  margin-top: 4px;
  padding: 6px;
  height: 2.4rem;
  line-height: 24px;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  color: #292929;
  font-size: 14px;
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 24px 24px;
}
.forgotPasswordPage button {
  width: 100%;
  height: 2.3rem;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  background-color: #0969FB;
}
.forgotPasswordPage button:hover {
  background-color: #034BB9;
}

.completeContainer p {
  font-size: 0.9rem;
  color: #292929;
}
.completeContainer a {
  text-decoration: none;
  font-size: 15px;
  color: #0969FB;
}
.completeContainer a:hover {
  text-decoration: underline;
}
@media (max-width: 480px) {
  .forgotPasswordPage {
    width: 300px;
    margin: 5rem auto;
  }
}