.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 90%;
  height: 450px;
  padding: 0 5rem;

  /* border: 1px dotted red; */
}

.buttonContainer {
  display: flex;
  justify-content: right;
  margin-top: 2rem;
  /* border: 1px dotted red; */
}

.buttonContainer button {
  margin: 1rem 0.5rem;
}

.btn-primary {
  color: #034BB9;
}