.ssafybuttonContainer {
  width: 276px;
  height: 50px;

  border-radius: 5px;
  border: 1px solid #C8C8C8;
  background: #FFF; 
  margin: 0.3rem 0 0 0 ;
}

.edussafyAlink {
  text-decoration: none;
}

.ssafycenterbox {
  display: flex;
  margin: 0 auto;

  width: 200px;
  margin: 13px auto;
}

.ssafybuttonTitle {
  width: 180px;
  margin: 0 0 0 3px;

  color: #000;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Mako;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 15px */
}