/* WeatherApi 최상단 Container - 사이즈 버튼 & UserinfoBox에 맞춰둠 */
.WeatherapiContainer {
  height: 15rem;
  padding: 1rem;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
}

