/* WeatherApi 최상단 Container - 사이즈 버튼 & UserinfoBox에 맞춰둠 */
.WeatherapiContainer {
  height: 15rem;
  padding: 1rem;
  margin-bottom: 1rem;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0,0,0,.04);
}

