.backButtonContainer {
    text-decoration: none;
    position: relative;
    left: 1.5rem;
    top: 1rem;
}

.backButtonContainer:hover {
    cursor: pointer;
    scale: 1.002;
}

.backButtonContainer span {
    position: relative;
    font-weight: 600;
    top: 0.15rem;
    color: black;
}

.backButton {
    text-decoration: none;
    color: black;
    position: relative;
    left: 15px;
    top: 15px;
    font-weight: bold;
}

#container {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: 1px solid #ededed;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 60px;
    width: 480px;
    text-align: left;
}
#container .complete {
    display: flex;
    justify-content: center;
    align-items: center;
}
#container h2 {
    line-height: 30px;
    color: #292929;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 4px;
}
#container p {
    line-height: 20px;
    color: #737373;
    font-size: 13px;
}
#container label {
    flex: auto;
    line-height: 20px;
    color: #737373;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
}
#container select {
    display: block;
    box-sizing: border-box;
    margin-top: 4px;
    padding: 6px;
    width: 100%;
    height: 35px;
    line-height: 24px;
    border: 1px solid #ededed;
    border-radius: 12px;
    color: #292929;
    font-size: 14px;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 24px 24px;
}
#container input[type=submit] {
    display: block;
    width: 100%;
    height: 35px;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #0969FB;
}

.complete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 40px 60px;
}
.complete h2 {
    margin-top: 5px;
    line-height: 30px;
    color: #565656;
    font-size: 22px;
}
.complete h2 span {
    color: #fb6666;
}
.complete p {
    line-height: 20px;
    color: #737373;
    font-size: 13px;
    margin-bottom: 5px;
}
.complete a {
    text-decoration: none;
    font-size: 15px;
    color: #0969FB;
}
.complete button {
    display: block;
    margin-top: 18px;
    width: 15em;
    height: 35px;
    border: 0;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    background-color: #0969FB;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
    #container {
        width: 450px;
        padding: 40px 60px;
    }
}
@media (max-width: 480px) {
    #container {
        width: 85vw;
        padding: 40px 2vh;
    }
    #container h2 {
        font-size: 18px;
    }
    #container p {
        font-size: 11px;
    }
    #container select {
        height: 32px;
    }
    #container input {
        height: 32px;
    }
    .complete button {
        width: 18em;
        font-size: 12px;
    }
    .complete h2 {
        font-size: 18px;
    }
    .complete p {
        font-size: 12px;
    }
}