#container {
    box-sizing: border-box;
    border: 1px solid #ededed;
    border-radius: 12px;
    margin: 24px auto;
    padding: 24px;
    width: 480px;
    text-align: left;
}
#container h2 {
    line-height: 30px;
    color: #292929;
    font-size: 22px;
    font-weight: bold;
}
#container p {
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 20px;
    color: #737373;
    font-size: 14px;
}
#container label {
    flex: auto;
    line-height: 20px;
    color: #737373;
    font-size: 12px;
    font-weight: bold;
}
#container select {
    display: block;
    box-sizing: border-box;
    margin-top: 4px;
    padding: 8px;
    width: 100%;
    height: 40px;
    line-height: 24px;
    border: 1px solid #ededed;
    border-radius: 12px;
    color: #292929;
    font-size: 16px;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 24px 24px;
}
#container input[type=submit] {
    display: block;
    margin-top: 24px;
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #0969FB;
}
