.footer {
  /*display: none;*/
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #222;
  height: 15rem;
  margin-top: 3rem;
}
.footer_inner {
  width: 1280px;
  height: 100%;
  background-color: inherit;
  margin: 0 auto;
  display: flex;
  color: #ebebeb;
  justify-content: space-between;
  align-items: start;
  padding-top: 1rem;
  padding-bottom: 3rem;
}
.contactInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  font-size: 0.8rem;
}
.footer_inner ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  flex: 1;
  justify-content: center;
}
.footer_inner ul li {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}
.footer_inner ul li a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}
.footer_inner ul li a:hover {
  color: #007bff;
}
.footerImage {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.footerImage img {
  max-width: 270px;
}
