.entrance {
  max-width: 1280px;
  height: 470px;
  margin: 0 auto;
}
.container {
  background-color: #111;
  max-width: 1280px;
  padding-bottom: 0.2rem;
}
.joinContainer {
  position: relative;
  top: 5rem;
}
.formGroup {
  width: 400px;
  margin: 2rem auto;
  text-align: left;
}
