.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  height: 520px;
  padding: 0 1rem;

  /* border: 1px dotted red; */
}

.myContentContainer {
  height: 87%;
  padding: 0.6rem 2rem;
  text-align: left;
  /* border-bottom: 2px solid #d3d9ef; */
}

.myContentContainer h3 {
  font-size: 1.2rem;
  color: #585858;
}

/* 컨테이너 내부 */

/* 제목 */
.mycontentTop {
  width: 94%;
  margin: 0 0 0 15px;
  display: flex;
  justify-content: space-between;
}

.mycontentTitle {
  display: flex;
}

.mypostsTitle {
  color: #585858;
  font-weight: 700;

  margin: 0 10px 20px 0;
}

.smallTitle {
  height: 28px;
  margin: 17px 0 0 0;
  color: #757575;
  font-size: 14px;
}

/* 코멘트 표시 컨테이너*/
.CommentsContainer {
  /* background-color: #d9e0f871; */
  width: 95%;
  height: 340px;
  margin: 5px auto;
  /* border-radius: 6px; */
  /* border: 1px dotted red; */
}

.commentContentsContainer {
  /* border: 1px dotted aqua; */
  cursor: pointer;
  margin: 0 0 0 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.315);
}

.dateContainer {
  background-color: #EDF2F6;
  height: 30%;
  width: 95%;
  margin: 0 auto;
  font-size: 13px;

  color: #757575;
}

.commentContainer {
  height: 25px;
  width: 70%;
  margin: 10px auto;

  /* width 넘어가는 글자들 ... 처리*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  font-size: 14px;

  /* border: 1px dotted red; */
}

.commentContainer:hover {
  font-weight: 500;
  text-decoration: underline;
}

.posttitleContainer {
  display: flex;
  height: 25px;

  background-color: #f6f7f8;
  padding: 0 0 0 10px;
  /* border: 1px solid #757575aa; */
  /* border-width: 1px 0 0 0; */
}

#boardName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.postContainer {
  display: flex;
  height: 25px;
  width: 160px;

  /* border: 1px solid #757575aa; */
}
 
.commentContent {
  width: 80px;
  justify-content: space-between;

  cursor: pointer;

  color: #757575;
  font-size: 11.224px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-align: center;
  /* width 넘어가는 글자들 ... 처리*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  /* border: 1px dotted red; */
}

/* #createTime {
  width: 90px;
  justify-content: space-between;

  cursor: pointer;

  color: #757575;
  font-size: 11.224px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border: 1px dotted red;
} */

/* myPosyView */
.boardpostContainer{
  width: 20%;
  height: 35px;
  margin: 5PX auto;

  display: flex;
  justify-content: space-between;
  border-width: 1px 0 0 0 ;
}

.postContainer {
  display: flex;
  margin: 8px 0 0 0;
}

.postTitle {
  cursor: pointer;
  margin: 0 12px 0 0;

  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  justify-content: center;
  align-items: center;
}

.postContent {
  cursor: pointer;
  margin: 0 12px 0 0;

  color: #757575;
  font-size: 11.224px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.commentInd {
  display: flex;
  height: 38px;

  /* border: 1px dotted red; */
}