.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  height: 520px;
  padding: 0 1rem;

  /* border: 1px dotted red; */
}

.welcomeContainer {
  /* height: 4%; */
  /* padding: 0 2rem; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* border-bottom: 1px solid #dedede; */
  /* border: 1px dotted red; */
}

.welcomeContainer p {
  margin-bottom: 0.2rem;
  color: #747474;
}

.myContentContainer {
  height: 87%;
  padding: 0.6rem 2rem;
  text-align: left;
  /* border-bottom: 2px solid #d3d9ef; */
}

.myContentContainer h3 {
  font-size: 1.2rem;
  color: #585858;
}

/* 컨테이너 내부 */

/* 제목 */
.mycontentTop {
  width: 94%;
  margin: 0 0 0 15px;
  display: flex;
  justify-content: space-between;
}

.mycontentTitle {
  display: flex;
}

.mypostsTitle {
  color: #585858;
  font-weight: 700;

  margin: 0 10px 20px 0;
}

.smallTitle {
  height: 28px;
  margin: 17px 0 0 0;
  color: #757575;
  font-size: 14px;
}

/* 코멘트 표시 컨테이너*/
.CommentsContainer {
  /* background-color: #d9e0f871; */
  width: 100%;
  height: 100px;
  /* border-radius: 6px; */
}

.commentContentsContainer {
  /* border: 1px dotted aqua; */
  margin: 20px 0;
}

.dateContainer {
  background-color: #EDF2F6;
  height: 30%;
  width: 95%;
  margin: 0 auto;
  font-size: 13px;

  color: #757575;
}

.commentContainer {
  height: 45%;
  width: 95%;
  margin: 10px auto;

  /* border: 1px dotted red; */
}

.postContainer {
  height: 30%;
}


/* myPosyView */
.boardpostContainer{
  width: 95%;
  height: 35px;
  margin: 5PX auto;

  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(128, 128, 128, 0.315);
  border-width: 1px 0 0 0 ;
}

.postContainer {
  display: flex;
  margin: 8px 0 0 0;
}

.postTitle {
  cursor: pointer;
  margin: 0 12px 0 0;

  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.postContent {
  cursor: pointer;
  margin: 0 12px 0 0;

  color: #757575;
  font-size: 11.224px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}