.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;
    padding: 1rem 0.5rem;
    border: 0.1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 8%);
    background-color: white;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 12px rgb(0 0 0 / 10%);
}
.title p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.menus {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2rem;
}
.menu img {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.menu h2 {
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.menu p {
    font-size: 0.2rem;
    margin: 0;
    text-align: left;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
    .card {
        width: 330px
    }
}
@media (max-width: 480px) {
    .card {
        width: 270px
    }
}