.mypageContainer {
  width: 1170px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.mypageNavContainer {
  width: 270px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 2rem;
  border: 1px solid #75757518;
  border-radius: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(194, 194, 194, 0.16), 0px 0px 24px 0px rgba(170, 170, 170, 0.16);
}
.navTitleContainer {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
}
.navTab {
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
}
.navTab:hover {
  cursor: pointer;
}
.navTab p {
  margin: 0;
  font-size: 1.08rem;
  font-weight: 500;
}
.logoutTab {
  display: flex;
  align-items: center;
}
.logoutTab:hover {
  cursor: pointer;
  font-weight: 500;
}
.mypageContentContainer {
  width: 870px;
  height: 600px;
  border: 1px solid #75757518;
  border-radius: 1rem;
  background: #FFF;
  box-shadow: 0px 8px 16px 0px rgba(194, 194, 194, 0.16), 0px 0px 24px 0px rgba(170, 170, 170, 0.16);
}