.paginationContainer {
  /* width: 500px; */

  /* 변수 정의 */
  --width: 100px;

  width: var(--width);

  display: flex;
  height: 45px;  
  margin: 0 auto;

  border: 1px solid #75757570;
  border-radius: 3rem;

  /* border: 1px dotted red; */
}

.paginationNumsContainer {
  display: flex;

  /* width: 400px; */
  width: auto;
  height: 45px;
  margin: 0 auto;

  cursor: pointer;
  /* border: 1px dotted red; */
  /* transition: all 5s; */
}

.paginationNumBox {
  /* flex: 1; */
  width: 30px;
  height: 30px;
  margin: 5px 3px 0 3px; 
  /* margin: 0 auto; */
  /* border: 1px solid red; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationNum {
  text-decoration: none;
  color: #757575;

  padding: 0 0 3px 0;
}

.paginationNum:hover {
  font-weight: 570;
}

/* 현재 선택된 페이지 */
.paginationNumBoxcurr {
  width: 30px;
  height: 30px;
  margin: 5px 3px 0 3px; 
  background-color: #034BB9;
  /* border: 1px solid red; */
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.paginationNumcurr {
  text-decoration: none;
  color: white;

  padding: 0 0 3px 0;
}
