.paginationContainer {
  width: 500px;
  height: 50px;  
  margin: 0 auto;

  border: 1px solid #7575752f;
  border-radius: 3rem;
}

.paginationNumsContainer {
  display: flex;

  width: 400px;
  height: 45px;
  margin: 0 auto;

  /* border: 1px dotted aqua; */
}

.paginationNumBox {
  width: 50px;
  height: 45px;
  margin: 10px 0 0 0; 
  /* border: 1px solid red; */
}

.paginationNum {
  text-decoration: none;
  color: #757575;
}

.paginationNum:hover {
  font-weight: 570;
}

/* 현재 선택된 페이지 */
.paginationNumBoxcurr {
  width: 50px;
  height: 45px;
  margin: 10px 0 0 0; 
  border: 1px solid red;
}
