.topcontainer {
  width: 1008px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  /* border: 1px dotted aqua; */
}
.topleftContainer {
  margin: 0 auto;
  width: 728;
  /* border: 1px dotted aqua; */
}
.toprightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  /* border: 1px dotted aqua; */
}
/* .usermainContainer {
  margin-bottom: 0.3rem;
}
.bannerContainer {
  width: 100%;

  /* border: 1px dotted plum; */
.horiadcontainer {
  width: 1008px;
  margin: 0 auto;
  /* border: 1px dotted aquamarine; */
}

.middlecontainer {
  width: 1008px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

/* 베스트 게시글 */
.bestboard {
  width: 700px;
}

.bestTitle {
  text-align: start;

  font-size: 25px;
  font-weight: 600;
  margin: 0 0 10px 15px;
}

.bestIcons {
  margin: 0 0 6px 6px;
}
