.mainPage {
  /* width: 1008px; */
  width: 1280px;
  height: fit-content;
  min-height: calc(100vh - 15rem);
  margin: 0 auto;
  margin-bottom: 5rem;
}
.topContainer {
  display: flex;
  height: 21rem;
  justify-content: space-between;
  margin-bottom: 1rem;
  /* border: 1px dotted aqua; */
}
.topLeftContainer {
  /* width: 720px; */
  /* margin-right: 0.5rem; */
  width: 920px;
  margin-right: 30px;
}
.topRightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 280px; */
  width: 330px;
}
.AdTimeContainer {
  display: flex;
  margin-bottom: 1rem;
}
.horiAdContainer {
  width: 920px;
  margin-right: 30px;
}
.serverTimeContainer {
  width: 330px;
}
.middleContainer {
  display: flex;
  height: 40rem;
}
.middleLeftContainer {
  width: 280px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.bestBoard {
  width: 920px;
  margin-top: 10px;
  margin-right: 30px;
  /* border: 1px dotted pink; */
}
.bestTitle {
  text-align: start;
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 10px 15px;
}
.bestIcons {
  margin: 0 0 6px 6px;
}

.middleRightContainer {
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
