.boardpostContainer{
  width: 95%;
  height: 35px;
  margin: 5px auto;

  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(128, 128, 128, 0.315);
  border-width: 1px 0 0 0 ;
}

.postContainer {
  display: flex;
  margin: 8px 0 0 0;
}

.postTitle {
  cursor: pointer;
  margin: 0 12px 0 0;

  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.postContent {
  margin: 0 12px 0 0;

  color: #757575;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#boardName {
  width: 40px;
}

.postIcon {
  margin: 0 4px 4px 0;
}

#postrecommendBox {
  width: 60px;

  border: 1px aqua dotted;
}

#postviewBox {
  width: 100px;

  border: 1px dotted red;
}