.boardpostContainer{
  width: 95%;
  height: 35px;
  margin: 5px auto;
  /* padding: 0 0 2px 0; */

  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(128, 128, 128, 0.315);
  border-width: 0 0 1px 0 ;

  /* border: 1px dotted red; */
}

.postContainerA {
  display: flex;
  margin: 8px 0 0 0;

  width: 60%;

  /* border: 1px dotted red; */
}

.postContainerB {
  display: flex;
  justify-content: space-between;
  margin: 4px 3px 0 0;
  width: 28.6%;
  text-align: right;

  /* border: 1px dotted red; */
}

.postContainerC {
  display: flex;
  justify-content: space-between;
  margin: 4PX 18px 0 0;
  width: 26.5%;
  text-align: right;

  /* border: 1px dotted red; */
}

.postContainerD {
  display: flex;
  justify-content: space-between;
  margin: 8PX 18px 0 0;
  width: 27%;
  text-align: right;

  /* border: 1px dotted red; */
}

/* 마이페이지 내 글 보기 */
.postContainerE {
  display: flex;
  justify-content: space-between;
  margin: 8PX 20px 0 0;
  width: 28.3%;
  text-align: right;

  /* border: 1px dotted red; */
}

.postTitleBox {
  /* border: 1px dotted blue; */
  max-width: 90%;

  /* width 넘어가는 글자들 ... 처리 */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.postTitleBoxmy {
  /* border: 1px dotted blue; */
  max-width: 90%;

  /* width 넘어가는 글자들 ... 처리 */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.postTitle {
  text-align: start;
  /* border: 1px dotted red; */
  width: 85%;

  display: flex;

  cursor: pointer;
  margin: 0 0 0 0;

  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  /* border: 1px dotted red; */

  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.postTitlemy {
  text-align: start;
  /* border: 1px dotted red; */
  width: 75%;

  display: flex;

  cursor: pointer;
  margin: 0 0 0 0;

  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  /* border: 1px dotted red; */
}

.postTitle:hover {
  font-weight: 500;

  text-decoration: underline;
  text-underline-position: under;
}

.postTitleLimit {
  width: 100%;;
  /* width 넘어가는 글자들 ... 처리*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.postContent {
  margin: 0 0 0 0;

  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  /* border: 1px dotted gray; */
}

#boardName {
  width: 100px;
  text-align: start;
}

#postId {
  width: 55px;
  text-align: start;
  margin: 0 5px 0 0;

  /* width 넘어가는 글자들 ... 처리*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  /* border: 1px dotted red; */
}

.postIcon {
  margin: 0 4px 4px 0;
}

#postcreatTime {
  text-align: right;

  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 1px dotted red; */
}

.postrecommendBox {
  /* display: flex;
  justify-content: center;
  align-items: center; */

  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  width: 35px;
  text-align: center;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  
  /* width 넘어가는 글자들 ... 처리 */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* border: 1px aqua dotted; */
}

#postrecommendBoxB {
  /* border: 1px dotted aqua; */
  width: 55px;
  text-align: center;
  padding: 0 2px 0 0;
  margin: 0 3px 0 0;

  /* width 넘어가는 글자들 ... 처리 */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#postrecommendBoxC {
  /* border: 1px dotted aqua; */
  width: 55px;
  text-align: center;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}


#postcreateBox {
  width: 75px;
  padding: 2px 3px 0 0;
  text-align: center;
  font-size: 12px;

  display: flex;
  justify-content: center;
  /* align-items: center; */

  /* border: 1px aqua dotted; */
}

#postcreateBoxsmall {
  width: 70px;
  text-align: center;
  font-size: 12px;

  /* border: 1px aqua dotted; */
}

#postrecommendBoxsmall {
  width: 60px;
  text-align: center;
  font-size: 12px;
  padding: 0 3px 0 0;

  /* border: 1px aqua dotted; */
}

#postviewBox {
  width: 70px;
  text-align: center;
  padding: 0 3px 0 0;

  /* width 넘어가는 글자들 ... 처리*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  /* border: 1px dotted red; */
}

#postviewBoxsmall {
  width: 58px;
  text-align: center;
  font-size: 12px;
  padding: 0 0 0 3px;

  /* width 넘어가는 글자들 ... 처리*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  /* border: 1px dotted red; */
}

#postviewBoxSearch {

  width: 70px;
  text-align: center;

  /* width 넘어가는 글자들 ... 처리*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  /* border: 1px dotted red; */

  /* padding: 0 0 0 10px; */

}

/* mypage css*/
#postcreateBoxmyBoard {
  width: 65px;
  text-align: center;
  font-size: 12px;

  /* border: 1px aqua dotted; */
}

#postrecommendBoxmyBoard {
  width: 60px;
  text-align: center;
  font-size: 12px;
  padding: 0 3px 0 0;

  /* border: 1px aqua dotted; */
}

#postviewBoxmyBoard {

  width: 58px;
  text-align: center;
  font-size: 12px;
  padding: 0 2px 0 0;

  /* width 넘어가는 글자들 ... 처리*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  /* border: 1px dotted red; */

}