.loginContainer {
  height: 9.4rem;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0,0,0,.04);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginContainer p {
  color: #606060;
  font-size: 0.8rem;
  margin-bottom: 0;
}
.unloginmessage p{
  margin: 0;
}
.loginButton {
  height: 3.2rem;
  border: 0;
  border-radius: 5px;
  background-color: #0969FB;
  color: #fff;
  font-size: 1.08rem;
  margin: 0.5rem 0;
}
.loginButton:hover {
  background-color: #034BB9;
}
.signupBox {
  display: flex;
  justify-content: center;
}
.signupBox p{
  font-size: 0.8rem;
}
.signupBox p:hover{
  cursor: pointer;
  text-decoration: underline;
}

.userContainer {
  height: 9.4rem;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, .04);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.userContainer p {
  color: #606060;
  font-size: 0.8rem;
  margin-bottom: 0;
}
.userTopContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 0.5rem;
}
.userTopContainer button{
  padding: 5px 12px;
  border: 0;
  height: 2rem;
  border-radius: 1rem;
  background-color: #fff;
  border: 1px solid #ebebeb;
  font-size: 0.9rem;
}
.userTopContainer button:hover {
  background-color: #eeeeee;
}
.userMidContainer {
  display: flex;
  justify-content: space-between;
}
.myPage {
  border: 0;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}
.myPage:hover {
  cursor: pointer;
  text-decoration: underline;
}
.helloMessage {
  color: #606060;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Source Sans Pro;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.userPointButton {
  display: flex;
  color: #034BB9;
}
.userPointButton p {
  color: #034BB9;
  font-weight: bold;
}
.userPointButton:hover {
  cursor: pointer;
}
.userBottomContainer {
  flex: 1;
  border-top: 1px solid #e3e5e8;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  background-color: #faf9ff;
}
.myButton {
  flex: 1;
  display: flex;
  justify-content: center;
  border: 0;
  color: #707070;
  background-color: transparent;
}
.myButton:hover {
  cursor: pointer;
  color: #000;
}
.myButton p:hover {
  color: #000;
}
.myIcon {
  align-self: center;
  margin-right: 5px;
}
.midIcon {
  display: flex;
  width: 100%;
  justify-content: center;
  border-left: 1px solid #d2d4d8;
  border-right: 1px solid #d2d4d8;
}