.usercontainer {
  height: 9.4rem;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0,0,0,.04);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.usercontainer p {
  color: #606060;
  font-size: 0.8rem;
  margin-bottom: 0;
}
.unloginmessage p{
  margin: 0;
}
.loginButton {
  height: 3.2rem;
  border: 0;
  border-radius: 5px;
  background-color: #0969FB;
  color: #fff;
  font-size: 1.08rem;
  margin: 0.5rem 0;
}
.loginButton:hover {
  background-color: #034BB9;
}
.signupBox {
  display: flex;
  justify-content: center;
}
.signupBox p{
  font-size: 0.8rem;
}
.signupBox p:hover{
  cursor: pointer;
  text-decoration: underline;
}

.userTopContainer {
  display: flex;
  justify-content: space-between;
}
.userTopContainer button{
  padding: 5px 10px;
  border: 0;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  font-size: 0.9rem;
}
.userTopContainer button:hover {
  background-color: #eeeeee;
}
.userMidContainer {
  text-align: left;
  margin-bottom: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.myPage {
  border: 0;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}
.myPage:hover {
  cursor: pointer;
  text-decoration: underline;
}
.secondhelloMessage {
  color: #606060;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Source Sans Pro;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 7px */
}
.adverButton {
  font-weight: 500;
}
.adverButton:hover {
  text-decoration: underline;
}
.adverButton:hover {
  cursor: pointer;
}
.mypageContent {
  display: flex;
  justify-content: space-between;
}
.myButton {
  display: flex;
  border: 0;
  color: #707070;
  background-color: transparent;
}
.myButton:hover {
  cursor: pointer;
  color: #000;
}
.myButton p:hover {
  color: #000;
}
.myIcon {
  align-self: center;
  margin-right: 2px;
}
